body{
  background-image: url(img/sfondo.jpg);
}

#a{
  width: 400px;
  margin: auto;
}

.b{
  border-bottom:2px solid white;
  margin-bottom: 10px
}

img{
  display: inline;
  height:90px;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 25px;
  border-radius: 15px;
  vertical-align: middle;
}

h1{
  display: inline;
  margin-left: 20px;
  vertical-align: middle;
  font-style: italic;
  font-weight:800px;
  font-size: 30px;
  margin-left: 30px;
  color: white;
}

.c{
  border-bottom:2px solid white;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.d {
  background-color: yellow;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px;
}

.e{
  border-bottom:2px solid white;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.f{
  font-family: fantasy;
  text-align: center;
  color: white;
}

.g{
  font-family: cursive;
  text-align: center;
  font-size: 22px;
}

.h{
  text-align: center;
  font-style: oblique;
  font-size: 15px;
}
